*,
::before,
::after {
  box-sizing: border-box;
}
section {
  padding: 55px 0;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}
.wrapper {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  @media screen and (max-width: 1155px) {
    padding: 0 15px;
  }
  overflow: hidden;
}
body {
  margin: 0;
  background-color: rgb(0, 0, 0);
  font-family: "Open Sans", sans-serif;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  margin: 0;
}
img {
  display: block;
}
button {
  border: 0;
  padding: 0;
  transition: all 0.2s linear;
}
.btn {
  max-width: fit-content;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--accent-color);
  color: #000;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  padding: 15px 10px;
  border-radius: 4px;
  transition: all 0.2s linear;

  &:hover {
    background-color: #abf520bd;
  }
  &:active {
    transform: scale(0.9);
    transition: all 200ms ease;
  }
}
