main {
  position: relative;
}
#particles-js {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  top: 0px;
  z-index: 0;
}
.hero {
  height: 100%;
  background-repeat: no-repeat;
  background: rgb(10, 10, 10);
  position: relative;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  @media screen and (max-width: 768px) {
    padding: 50px 15px;
  }
  @media screen and (min-width: 1024px) {
    padding: 100px 15px;
  }
  span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .container p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0% {
      background-color: #ccc;
    }
    49% {
      background-color: #ccc;
    }
    50% {
      background-color: transparent;
    }
    99% {
      background-color: transparent;
    }
    100% {
      background-color: #ccc;
    }
  }
  img {
    width: 100%;
    object-fit: cover;
    height: 250px;
  }
  .container {
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(23, 23, 23, 0.673);
    border-radius: 10px;
    z-index: 2;
    backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 50px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 35px;
      padding: 35px;
    }
  }
  .hero-img,
  .hero-text {
    width: 50%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  .hero-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    .btn {
      @media screen and (max-width: 768px) {
        margin: 0 auto;
      }
    }
  }
  .hero-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 49px;
    text-transform: uppercase;
    color: #ffffff;
    span {
      color: var(--accent-color);
    }
    @media screen and (max-width: 500px) {
      font-size: 30px;
    }
  }
  .text,
  h2 {
    text-align: left;
    margin: 0;
  }

  .hero-img {
    display: flex;
    justify-content: center;
  }
  .hero-img img {
    width: auto;
    display: block;
  }
}
