.service-hero {
  padding: 90px 0;
  background-image: url("https://media.giphy.com/media/CGZGV8wix4lvJn3dxy/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    max-width: 1210px;
    margin: auto;
    background: rgba(59, 59, 59, 0.279);
    border-radius: 10px;
    backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 50px;
    display: flex;
    padding: 50px;
    @media screen and (max-width: 886px) {
      flex-direction: column;
      gap: 30px;
    }
  }
  .hero-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    @media screen and (max-width: 886px) {
      width: 100%;
    }
    .section-title {
      text-align: left;
    }
    .text {
      text-align: left;
      margin: 0;
    }
  }
  .hero-right {
    width: 50%;
    display: flex;
    justify-content: center;
    img {
      max-width: 300px;
      width: 100%;
    }
    @media screen and (max-width: 886px) {
      width: 100%;
    }
  }
}
.quote {
  padding: 50px 0;
}
.get {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .section-title {
    margin: 0;
  }
  .text {
  }
  .get-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  .get-item {
    background-color: var(--background-color);
    width: calc((100% - 48px) / 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 16px;
    border-radius: 4px;
    h3 {
      text-transform: capitalize;
    }
  }
  .icon {
    fill: var(--accent-color);
  }
  .btn {
    margin-top: 25px;
    padding: 16px 24px;
  }
}
