h2 {
  font-weight: 700;
  font-size: 1.28;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 16px;
}
h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}
.section-title {
  font-weight: 700;
  font-size: 1.28;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 16px;
}
.text {
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  color: var(--text-color);
  max-width: 712px;
  margin: 0 auto;
}
