h2 {
  font-weight: 700;
  font-size: 1.28;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 16px;
}
h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}
.hero-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 49px;
  text-transform: uppercase;
  color: #ffffff;
  span {
    color: var(--accent-color);
  }
  @media screen and (max-width: 500px) {
    font-size: 30px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 1.28;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 16px;
}
.text {
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  color: var(--text-color);
  max-width: 712px;
  margin: 0 auto;
}
